body{
background:#a9f45f;
margin:0;
padding:0;
}
#upper{
margin-top:0px;
height:80%;
position:sticky;
}
#p1,#p2{
height:400;
width:300;
font-size:60;
padding-top:30;
background:#5ff4f4;
border:8px solid black;
border-radius:30px;
top:30;
bottom:0;
text-align:center;
}
b{
top:15px;
position:relative;
}
#tag{
width:1000;
height:100;
margin:auto;
left:0;
right:0;
background:white;
text-align:center;
position:absolute;
top:20;
font-size:60;
color:#ffa100;
border-bottom:12px solid black;
justify-content:center;
border-radius:15px;
}
#form
{
position:absolute;
height:200;
width:700;
margin:auto;
top:0;
left:0;
right:0;
bottom:0;
}
#t1{
position:relative;
padding:8;
font-size:30;
width:300px;
top:50;
float:left;
border-radius:20px;
border:3px solid black;
}
#t2{
position:relative;
padding:8;
font-size:30;
width:300px;
float:right;
border-radius:20px;
top:50;
border:3px solid black;
}
#t3{
position:relative;
background:red;
padding:8;
font-size:30;
width:150px;
left:270;
border-radius:30px;
top:100;
border:3px solid black;
}
#p1{
left:15;
margin:auto;
position:absolute;
}
#p2{
right:15;
position:absolute;
margin:auto;
}
#lower{
height:70px;
width:170px;
margin:auto;
bottom:80px;
right:0px;
left:0px;
position:absolute;
}
#con{
height:300;
width:300;
margin:auto;
bottom:0px;
top:0px;
right:0px;
left:0px;
position:absolute;
perspective:800;
-webkit-perspective:800;
}
#card{
background:yellow;
height:100%;
width:100%;
transform-style:preserve-3d;
position:relative;
transition: all 2s ease 1s;
border-radius:30px;
}
#front,#back{
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
}
#back{
position:relative;
background:black;
height:300;
width:300;
font-size:40;
transform:rotateY(180deg);
border:10px solid #f40057;
border-radius:12px;
}
#in1,#in2,#in3,#in4,#in5,#in6,#in7,#in8,#in9{
border:3.5px solid black;
border-radius:5px;
height:92;
width:92;
}
#in1{
position:absolute;
background:#f40057;
left:0;
top:0;
}
#in2{
position:absolute;
background:#2196f3;
left:0;
top:100;
}
#in3{
position:absolute;
background:#4cb050;
left:0;
top:200;
}
#in4{
position:absolute;
background:#e7e600;
left:100;
top:0;
}
#in5{
position:absolute;
background:#009788;
left:100;
top:100;
}
#in6{
position:absolute;
background:#ff9801;
left:100;
top:200;
}
#in7{
position:absolute;
background:#64dd16;
left:200;
top:0;
}
#in8{
position:absolute;
background:#9c28b1;
left:200;
top:100;
}
#in9{
position:absolute;
background:#f54337;
left:200;
top:200;
}
.circle{
position:relative;
height:70;
width:70;
border:8px solid black;
border-radius:50%;
margin:auto;
bottom:0px;
top:3px;
right:0px;
left:0px;
-webkit-animation:fadeIn 1s;
animation:fadeIn 1s;
}
@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
.cross{
height:80;
width:10;
transform:rotate(45deg);
background:black;
position:relative;
left:41;
top:7;
border-radius:0.3em;
-webkit-animation:fadeIn 1s;
animation:fadeIn 1s;
}
.cro{
height:80;
width:10;
transform:rotate(-90deg);
background:black;
position:relative;
left:0;
border-radius:0.3em;
-webkit-animation:fadeIn 1s;
animation:fadeIn 1s;
}
#tick{
height:10;
width:290px;
background:black;
position:absolute;
transform:rotate(0deg);
border-radius:10px;
opacity:0;

}
#reload{
background:#f45f5f;
position:relative;
padding:5px;
margin:auto;
bottom:0px;
top:0px;
right:0px;
left:0px;
font-size:30;
text-align:center;
border:3px solid black;
border-radius:10px;
}
.fix{
position:relative;
margin:auto;
height:110;
width:110;
top:50;
bottom:0;
left:0;
right:0;
}
#fix{
font-size:50px;
height:200;
width:300;
font-style:bold;
color:white;
text-align:center;
justify-content:center;
}
